@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: ##f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Raleway', sans-serif;
}

.appear-down-to-up {
  animation: appear-up 1s ease-in-out;
  animation-timeline: view(); /* This ties the animation to scrolling */
  animation-range: entry 0% cover 30%;
}

.appear-left-to-right {
  animation: appear-left 1s ease-in-out;
  animation-timeline: view(); /* This ties the animation to scrolling */
  animation-range: entry 0% cover 30%;
}

.appear-right-to-left {
  animation: appear-right 1s ease-in-out;
  animation-timeline: view(); /* This ties the animation to scrolling */
  animation-range: entry 0% cover 30%;
}

.appear-unfold {
  animation: unfold 1s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.appear-reveal {
  animation: invisible-phase 3s ease, reveal 1s ease-in-out;
  animation-fill-mode: forwards; 
}


@layer utilities {
  
  .card-wrapper-1::before {
    background: conic-gradient(
      rgba(41, 172, 228, 0.4) 0deg,
      rgba(41, 172, 228, 0.9) 0deg,
      rgba(141, 222, 240, 0.4) 10deg,
      transparent 80deg
    );
    @apply absolute h-[300%] w-[150%] content-[''] top-[-100%] left-[-25%] animate-border-spin
  }
  .card-wrapper-2::before {
    background: conic-gradient(
      rgba(242, 51, 140, 0.4) 0deg,
      rgba(242, 51, 140, 0.9) 0deg,
      rgba(240, 151, 240, 0.4) 10deg,
      transparent 80deg
    );
    @apply absolute h-[300%] w-[150%] content-[''] top-[-100%] left-[-25%] animate-border-spin
  }
  .card-wrapper-3::before {
    background: conic-gradient(
      rgba(234, 190, 32, 0.4) 0deg,
      rgba(234, 190, 32, 0.9) 0deg,
      rgba(244, 220, 132, 0.4) 10deg,
      transparent 80deg
    );
    @apply absolute h-[300%] w-[150%] content-[''] top-[-100%] left-[-25%] animate-border-spin
  }

  .wrapper-badge:hover::before {
    background: conic-gradient(
      rgba(242, 240, 240, 0.9) 0deg,
      rgba(242, 240, 240, 0.5) 150deg,
      transparent 120deg
    );
    @apply absolute h-[600%] w-[200%] content-[''] top-[-140%] left-[-50%] animate-badge-spin
  }

  .wrapper-badge::before {
    background: white;
    opacity: 0.7;
    @apply absolute h-[700%] w-[200%] content-[''] top-[-140%] left-[-50%] 
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear-up {
  from {
    opacity: 0;
    transform: scale(0.7); /* Use transform for scaling */
    transform-origin: bottom; /* Ensure it scales up from bottom */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-30%);
    transform-origin: left; /* Ensure it scales up from bottom */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(30%);
    transform-origin: right; /* Ensure it scales up from bottom */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes unfold {
  from {
    opacity: 0.5;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(10%);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes invisible-phase {
  from {
    opacity: 0;
  }
  to {
    opacity: 0; 
  }
}